body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    user-select: none;
}
.radial-bg{
    position: absolute;
    margin: 0;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    background-image: radial-gradient(circle, rgba(120, 174, 255, 0.37) 0%, rgb(255 255 255 / 58%) 50%, rgb(0 17 69 / 72%) 100%);
}

.container {
    margin: 0 auto;
    position: relative;
    text-align: center;
    max-width: 90%;
    padding: 20px;
    max-width: 800px;
}
#description{
    font-size: 1.7rem;
    font-weight: 700;
    color: #162f5e;
    text-shadow: 1px 1px 5px rgb(255 255 255 / 90%), 1px 1px 2px rgb(255 255 255 / 90%);
}
.container-fecha-lugar{
    margin-top: 44px;
    margin-bottom: 44px;
    background: #090a0e24;
    border-radius: 10px;
    border: 1px white solid;
    backdrop-filter: blur(3px);
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    z-index: 0;
}

h1, p {
    position: relative;
    z-index: 2;
}

.buttons {
    position: relative;
    z-index: 2;
    margin-top: 20px;
}

.buttons button {
    margin: 10px;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 0 0 1px BLACK;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.buttons button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.buttons button:active {
    background-color: #ffff;
    transform: scale(0.88);
}
.confirmar{
    background-color: #4caf59 !important;
    box-shadow: 0px 6px 5px #2d6930;
    border: 1px solid #ffffff6e !important;
}
.posponer{
    background-color: #9faf4c !important;
    box-shadow: 0px 6px 5px #65702f;
    border: 1px solid #ffffff6e !important;
}
.rechazar{
    background-color: #af964c !important;
    box-shadow: 0px 6px 5px #4d4222;
    border: 1px solid #ffffff6e !important;
}
#thanks {
    position: relative;
    z-index: 2;
    margin-top: 20px;
    font-size: 18px;
    transition: opacity 0.5s ease;
    opacity: 0;
}

#thanks.visible {
    opacity: 1;
}

@media (orientation: landscape) {
    /*
    body::before {
        content: "Por favor, gira tu dispositivo a modo vertical para una mejor experiencia.";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 20px;
        border-radius: 10px;
        z-index: 10;
    }
    */
}
#name{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.mapa_link{
    color: #84fff0;
    text-decoration: none;
    cursor: pointer;
}
#chosen{
    background-color: #14254d4f;
    border-radius: 10px;
}
